
<layout-sidemenu>
  <ion-content >
    <div class='container' >
      <header>
      </header>

      <section class="section-one">
        <ion-icon name="location-outline" class="location"></ion-icon>
        <h1>{{ city.name }}</h1>
        <div class="status">
          <div class="status-grid">
            <img src="../../assets/Reports Icon.svg" alt="Reports"/>
            <span class="numbers">138</span>
          </div>
          <div class="status-grid">
            <img src="../../assets/Photos Icon.svg" alt="Photos"/>
            <span class="numbers">26</span>
          </div>
          <div class="status-grid mid">
            <img src="../../assets/Videos Icon.svg" alt="Videos"/>
            <span class="numbers ">92</span>
          </div>
        </div>


      </section>
      <section class="tags-container" >
        <span class="btn delete-btn">X deselect all</span>
        <span class="btn random">late bars</span>
        <span class="btn random">tourist attractions</span>
        <span class="btn">language cafe</span>
        <span class="btn">art gallery</span>
        <span class="btn random">best food</span>
      </section>
      <section class="section-three">
        <div>
          <img src="../../assets/Newsfeed Icon.svg" alt="Newsfeed"/>
          <p>Newsfeed</p>

        </div>
        <div>
          <img src="../../assets/Events Icon.svg" alt="Events"/>
          <p>Events</p>

        </div>
        <div>
          <img src="../../assets/Venue Icon.svg" alt="Venues"/>
          <p>Venues</p>
        </div>
      </section>

    </div>
  </ion-content>
</layout-sidemenu>
