
.container {
  overflow: scroll;
}

.a-1 {
  width: 100%;
  height: 100%;
}

.row {
  height: calc(100% - 100px);
  /* border: 1px solid black; */
  /* background: #333333; */

  overflow-x: scroll;
  overflow-y: hidden;

  /* padding: 10px; */
  margin: 20px;

  display: flex;
  /* align-items: center;
  justify-content: center; */

  width: auto;
}

.title-card {
  width: 35vw;
  min-width: 250px;
  margin-right: 40px;
}
.title-card-inner {
  /* border: 2px solid green; */
  width: 100%;
  background: #eee;
  height: calc(100% - 80px);
  margin: 20px;
  padding: 20px;
}
.card {
}
.card-inner {
  /* border: 1px solid red; */
  padding: 10px;
  height: 100%;
}
.card img {
  max-height: calc(100% - 20px);
  max-width: calc(100vw - 40px);
  /* max-height: 100%;
  max-width: 100%; */
}

.img {
  width: calc(100vw - 80px);
  height: calc(100% - 20px);
}

/**
 * newsitems-video
 */
.row-newsitems-video {
  height: calc(100% - 100px);
  /* border: 1px solid black; */
  /* background: #333333; */

  overflow-x: scroll;
  overflow-y: hidden;

  /* padding: 10px; */
  margin: 20px;

  display: flex;
  /* align-items: center;
  justify-content: center; */

  width: auto;

  .card {
    /* max-height: calc(100% - 20px);
    max-width: calc(100vw - 40px); */

    display: flex;
    align-items: center;
    justify-content: center;
  }
  .card-inner {
    /* border: 1px solid red; */
    background: #eee;
    margin: 0;
    padding: 0;
    min-width: 90vw;
    /* max-height: calc(100% - 100px); */
    height: calc(100% - 20px);

    display: flex;
    align-items: center;
    justify-content: center;
  }
  .card-inner video {
    margin: auto;
    max-width: 100%;
    max-height: 100%;
  }
}
