
<ion-content >

  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button fill="solid">
        <ion-icon slot="start" name="contact"></ion-icon>
        Contact
      </ion-button>
    </ion-buttons>
    <ion-title>Solid Buttons</ion-title>
    <ion-buttons slot="primary">
      <ion-button fill="solid" color="secondary">
        Help
        <ion-icon slot="end" name="help-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-button expand="block" (click)="doFacebookLogout()">Log Out</ion-button>
  </ion-toolbar>

  <h1>Newsitems ({{ (newsitems||[]).length}})</h1>
  <ion-list>
    <ion-item *ngFor="let n of newsitems">
      <ion-card>
        <p>{{ n.name }}</p>
        <ion-list>
          <ion-item *ngFor="let ph of g.photos">
            <ion-img [src]="ph.small_url"></ion-img>
          </ion-item>
        </ion-list>
      </ion-card>
    </ion-item>
  </ion-list>

</ion-content>

