
<div *ngIf="newsitems.length == 0" >
  <br /><br /><br />
  <h1>&nbsp; &nbsp; &nbsp; Loading...</h1>
  <br /><br /><br />
</div>


<div class="a-1" *ngFor="let n of newsitems">

  <div class='row' *ngIf="n.item_type=='gallery'" >
    <div class='title-card'>
      <div class='title-card-inner'>
        <ion-icon slot="start" name='camera'></ion-icon> &nbsp; {{ n.name }} ({{ n.photos.length }})
        <p>{{ n.created_at.substring(0,10) }} by {{n.username}}</p>
      </div>
    </div>
    <div class='card' *ngFor="let ph of n.photos">
      <div class='card-inner'>
        <div class='img'
          [ngStyle]="{ background: '#cccccc url('+ph.original_url+')', 
            'background-repeat': 'no-repeat', 'background-position': 'center',
            'background-size': 'contain' }" 
        >&nbsp;</div>
      </div>
    </div>
  </div>

  <div padding class='row' *ngIf="n.item_type=='video'" >
    <ion-list lines="none" class='flex-scroll' >
      <ion-card padding class='medium-cover'>
        <p><ion-icon slot="start" name='videocam'></ion-icon> &nbsp; {{ n.name }}</p>
        <p>{{ n.created_at }}</p>
      </ion-card>
      <ion-card padding class='medium-video'>
        <video src="{{ n.url }}" width="100%" controls ></video>
      </ion-card>
    </ion-list>
  </div>

  <div padding class='row' *ngIf="n.item_type=='report'" >
    <ion-list lines="none" class='flex-scroll' >
      <ion-card padding class='medium-cover'>
        <a [routerLink]="['/en/reports/show/'+n.reportname]" ><ion-icon slot="start" name='today' ></ion-icon> &nbsp; {{ n.name }}</a>
        <p>{{ n.created_at.substring(0,10) }}</p>

      </ion-card>
    </ion-list>
  </div>

</div>

