<ion-content class="login-content" padding>
  <ion-row>
    <ion-col>
      <h1 class="logo">LOGO</h1>
    </ion-col>
  </ion-row>
  <!-- <ion-row>
    <ion-col>
      <ion-button class="log-in-button" color="danger" expand="block" (click)="doGoogleLogin()">
        LOGIN WITH GOOGLE
      </ion-button>
    </ion-col>
  </ion-row> -->
  <ion-row>
    <ion-col>
      <ion-button class="log-in-button" color="danger" expand="block" (click)="doFacebookLogin()">
        LOGIN WITH FACEBOOK
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>
