
<ion-app >
  <div class="mainfold-parent {{ this.footerCollapsed ? 'footer-collapsed' : '' }} {{ this.halfCollapsed }} ">
    <div class="mainfold-item main-header">Header</div>
    
    <div class="mainfold-item main-twofold">
      <div class='main-twofold-inner'>
        <div id='mainLeft' class='main-left main-half' >
          <div class='zoom-control'>
            <div (click)="zoomIn()" class='in'>[+]</div>
            <div (click)="zoomOut()" class='out'>[-]</div>
          </div>
          <div class='main-left-overlay'></div>
          <div class='main-left-inner'>

            <div class='main-map'>
              <div class='main-map-inner'>

                <div class='img-bg' 
                  [style.background-image]="'url('+'../assets/maps/1200x1200/world-1.jpg'+')'" 
                  [style.width]="thisMap['w'] * zoomFactor + 'px'" 
                  [style.height]="thisMap['h'] * zoomFactor + 'px'"
                >
                  <!-- <div class='img-marker' id='marker1' ></div> -->
                  <div class='img-marker' 
                    [style.width]="markerCo['w']*zoomFactor + 'px'"
                    [style.height]="markerCo['h']*zoomFactor + 'px'"
                    [style.top]="markerCo['top']*zoomFactor + 'px'"
                    [style.left]="markerCo['left']*zoomFactor + 'px'"
                    [style.background-image]="'url('+markerCo['img']+')'"
                    (click)="navigateToMap(markerCo['slug'])"
                  ></div>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div id='mainRight' class='main-right main-half' >
          <div class='main-collapse'></div>
          <div class='main-right-overlay'></div>
          <div class='main-right-inner'>
            <div class='main-text'>
              MapComponent
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="mainfold-item main-footer">
      <div class='footer-collapse' (click)="collapseFooter()" ></div>
      <div class='main-footer-overlay'></div>
      <div class='main-footer-inner'>
        <div class='img img-avatar'></div>
        
        <div class='widget-stars'>
          <div class='widget-stars-inner'>
            <!-- <div class='count'>5</div> -->
            <div class='img img-star' >5</div>
          </div>
        </div>

      </div>
    </div>
  </div>
</ion-app>