/**
 * From: https://jsfiddle.net/MadLittleMods/LmYay/
 */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.debug {
  border: 1px solid red;
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}
.mainfold-parent {
  height: 100%;
}
.mainfold-item {
}

.main-header {
  height: 40px;
  width: 100%;
  padding-top: .5em;
  padding-left: .5em;
  line-height: 40px;

  position: absolute;
  top: 0;
  left: 0;
}
.main-text {
  padding: .5em;
}


.main-twofold {
  height: 100%;
  padding-top: 40px;
  padding-bottom: 100px;

  /* display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  */
}
.footer-collapsed .main-twofold {
  padding-bottom: 2em;
}
.main-twofold-inner {
  height: 100%;
  position: relative;
}
.main-left {
  position: absolute;
  left: 0;
  top: 0;

  width: 50%;
  height: 100%;
  padding: 0.5em;
}
.main-left-inner {
  /* background: white; */
  background: #d2d2d2;
  border: 1px solid grey;

  width: 100%;
  height: 100%;
  
  /* padding: .5em; */
  overflow: scroll;

  position: relative;
  top: 0;
  left: 0;
}
.main-right {
  position: absolute;
  left: 50%;
  top: 0;

  width: 50%;
  height: 100%;
  padding: 0.5em;
}
.main-right-inner {
  background: white;
  width: 100%;
  height: 100%;
  border: 1px solid grey;
  /* padding: .5em; */
  overflow: scroll;
}

/*
 * collapse
 */
.main-collapse {
  position: absolute;
  background: url('../assets/64x64/hamburger.png');
  width: 1em;
  height: 1em;
  margin-left: -1em;
  background-size: cover;
}
.left-collapsed .main-left {
  width: 1em;
}
.left-collapsed .main-right {
  width: calc(100% - 2em);
  left: 2em;
}

.left-collapsed .main-left-inner { display: none; }
.main-left-overlay {
  display: none;
}
.left-collapsed .main-left-overlay {
  display: block;
  background: #ededde;
  width: 1em;
  border: 1px solid gray;
  height: 100%;
}
.main-right-overlay {
  display: none;
}
/**
 * right-collapsed
 */
.right-collapsed .main-right {
  left: calc(100% - 2em);
}
.right-collapsed .main-right-inner { display: none; }
.right-collapsed .main-right-overlay {
  display: block;
  background: #ededde;
  width: 1em;
  border: 1px solid gray;
  height: 100%;
}
.right-collapsed .main-left {
  width: calc(100% - 2em);
}

/**
 * footer
 */
.main-footer {
  height: 100px;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0px;
  left: 0;
  padding: .5em;
}
.main-footer-inner {
  border: 1px solid grey;  
  height: 100%;
  background: #ededde;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer-collapse {
  position: absolute;
  background: url('../assets/64x64/hamburger.png');
  width: 1em;
  height: 1em;
  margin-top: -1em;
  background-size: cover;
}

.footer-collapsed .main-footer {
  height: 2em;
}
.main-footer-overlay {
  display: none;
}
.footer-collapsed .main-footer-inner {
  /* padding: 0; */
  height: 0;
  display: none;
}
.footer-collapsed .main-footer-overlay {
  display: block;
  background: #ededde;
  height: 1em;
  border: 1px solid gray;
}

.img-avatar {
  width: calc(100px - 1em - 2px);
  height: calc(100px - 1em - 2px);
  background: url('../assets/100x100/avatar.png');
  background-size: cover;
}

/**
 * map
 */
.main-map {
  background: #d2d2d2;
  height: 100%;
  /* overflow: hidden; */
}
.main-map-inner { /* vertical align of map smaller than screen */
  /* trash */
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */

  overflow: scroll;

  /* doesn't work... */
  /* position: relative;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%); */
}
.img-map-1 {
 background: url('../assets/maps/800x800/3.jpg');
 background-size: cover;
 width: 800px;
 height: 800px;

 position: relative;
 margin: auto;
} 

#marker1 {
  position: absolute;
  top: 200px;
  left: 240px;
  width: 64px;
  height: 64px;
  background: url('../assets/64x64/marker.png');
}

/**
 * inventory
 */
.img-gem {
  background: url('../assets/256x256/gem.png');
  background-size: cover;
  width: calc(100px - 4em);
  height: calc(100px - 4em);
}
.img-star {
  background: url('../assets/256x256/star.png');
  background-size: cover;
  width: calc(100px - 4em);
  height: calc(100px - 4em);
}

.widget-stars {
  line-height: calc(100px - 4em);
  height: 100%;
  
  padding: 0 2em;
  display: flex;
}
.widget-stars-inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
}
.widget-stars .count {
  line-height: calc(100px - 4em);
  margin-right: 0.5em;
}
