
<!--
<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-button (click)="openFirst()" >
        <ion-icon slot="start" name="menu"></ion-icon>
        Menu
      </ion-button>
    </ion-toolbar>
  </ion-header>
  <div class="main-menu">Menu</div>  
  <ion-router-outlet></ion-router-outlet>
  <ion-footer>
    <ion-toolbar>
      <ion-title>Footer</ion-title>
    </ion-toolbar>
  </ion-footer>
</ion-app>
-->

<!--
<ion-app>
  <ion-tabs>
    <ion-tab tab="home">
      <h1>Home Content</h1>
    </ion-tab>
    <ion-tab tab="settings">
      <h1>Settings Content</h1>
    </ion-tab>

    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-label>Home</ion-label>
        <ion-icon name="home"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="settings">
        <ion-label>Settings</ion-label>
        <ion-icon name="settings"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-app>
-->


<ion-app >
  <div *ngIf="!currentUser" >
    <ion-router-outlet></ion-router-outlet>
  </div>

  <div *ngIf="currentUser" >
    <ion-menu>
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false">
            <ion-item button (click)="navigate('newsfeed')" >
              <ion-icon slot="start" name='paper'></ion-icon>
              <ion-label>
                Newsfeed
              </ion-label>
            </ion-item>
            <ion-item button (click)="navigate('account')">
              <ion-icon slot="start" name='person'></ion-icon>
              <ion-label>
                Account
              </ion-label>
            </ion-item>
            <ion-item button (click)="doFacebookLogin()">
              <ion-icon slot="start" name='power'></ion-icon>
              <ion-label>
                Login
              </ion-label>
            </ion-item>
            <ion-item button (click)="doFacebookLogout()">
              <ion-icon slot="start" name='power'></ion-icon>
              <ion-label>
                Logout
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>

    <ion-content class="ion-page" main>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-menu-toggle>
              <ion-button>
                <ion-icon slot="icon-only" name="menu"></ion-icon>
              </ion-button>
            </ion-menu-toggle>
          </ion-buttons>
          <ion-title>{{ appService.title }}</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-router-outlet></ion-router-outlet>
      </ion-content>
    </ion-content>
  </div>
</ion-app>

<!-- <ion-menu-controller></ion-menu-controller> -->
