
<ion-app >
  <div class="flexbox-parent">
    <div class="flexbox-item header">Header</div>
    
    <div class="flexbox-item fill-area content flexbox-item-grow">
      <div class="fill-area-content flexbox-item-grow main-twofold">
        <div id='mainLeft' class='main main-left main-half' >Main Left</div>
        <div id='mainRight' class='main main-right main-half' >Main Right</div>
      </div>
    </div>
    
    <div class="flexbox-item main-bottom">
      Footer
    </div>
  </div>
</ion-app>