
<layout-sidemenu>
  <ion-content>
    <ul>
      <li><b>name:</b> {{ currentUser['name'] }}</li>
      <li><b>email:</b> {{ currentUser['email'] }}</li>
      <li><b>id:</b> {{ currentUser['userID'] }}</li>
    </ul>

    <ion-item *ngIf="currentUser" button (click)="doFacebookLogout()">
      <ion-icon slot="start" name='power'></ion-icon>
      <ion-label>
        Logout
      </ion-label>
    </ion-item>

    <!-- <ion-item *ngIf="!currentUser" button (click)="doFacebookLogin()">
      <ion-icon slot="start" name='power'></ion-icon>
      <ion-label>
        Login
      </ion-label>
    </ion-item> -->

    <ion-item *ngIf="currentUser" button (click)="payMicro()">
      <ion-icon slot="start" name='power'></ion-icon>
      <ion-label>
        Pay $0.05
      </ion-label>
    </ion-item>

  </ion-content>
</layout-sidemenu>
