
<layout-sidemenu>
  <ion-content >
    <div class='body' >

      <section class="sectionOne">
        <img src="../../assets/src/default-avatar.png" alt="profile pic" />
        <div class="userName">
          <h4>Jamie Kavanaugh</h4>
          <img src="../../assets/accounts/edit.png" alt="edit pic" />
          <p>Jamie_kv@gmail.com</p>
        </div>
      </section>

      <section class="sectionTwo">
        <div>
          <img src="../../assets/accounts/addReport.JPG" alt="Add Report" />
          <p>Add Report</p>
          <span></span>
        </div>
        <div>
          <img src="../../assets/accounts/addImg.JPG" alt="Add Image" />
          <p class="active">Add Gallery</p>
          <span class="activeSpan"></span>
        </div>
        <div>
          <img src="../../assets/accounts/addVideo.JPG" alt="Add Video" />
          <p>Add Video</p>
          <span></span>
        </div>
      </section>
      
      <section class="sectionThree">
        <div class="group">
          <label class="placeholder">Gallery Name</label>
          <input type="text" placeholder="" class="firstInput">
        </div>
        <div class="selectDiv">
          <label class="placeholder">City</label>
          <select name="city" id="city" class="firstSelect">
            <option value="Venice, Italy" selected>
              Venice, Italy
            </option>
            <option value="Venice, Italy">
              Venice, Italy
            </option>
          </select>
        </div>
        <div>
          <div class="btnGrid">
            <h3>Post <span class="postTo">to</span></h3>
            <button class="btn btnRight">
              <img src="../../assets/accounts/public.JPG" alt="public pic" />
            </button>
            <button class="btn btnLeft">
              <img src=".../../assets/accounts/friend.JPG" alt="public pic" />
            </button>
          </div>
        </div>
        <div class="selectImageGrid">
          <img src="../../assets/accounts/camera.JPG" alt="Select Images" />
          <p>Select images</p>
        </div>
        <button class="btnCreate">Create</button>
      </section>

    </div>
  </ion-content>
</layout-sidemenu>
