.heading {
  img {
    width: 1.2em;
  }
  .title{
    vertical-align: top;
    padding: 0.5em;
    // color: black;
  }
}

.gallery-section {
  max-width: 44em;
  margin: auto;
  padding: 1.5em;
}

.gallery {
/**  display: grid;
  grid-gap: 0.1em 0.2em;
  grid-gap: 1.5em;
  grid-template-columns: auto auto auto auto auto auto;
*/
  display: flex;
  flex-wrap: wrap;
  margin: 1em 0;

  .card{
    margin: 0.1em 0.25em;
  }
}

.full-img-section{
  img{
    margin-bottom: 1em;
    width: 100%;
  }
}
