
<ion-toolbar>
  <ion-img *ngIf='user && user.picture' class="thumb" [src]="user.picture"></ion-img>

  <div *ngIf='user && user.facebook' (click)="doFacebookLogout()" >{{ user.facebook.userID }}</div>

  <ion-buttons slot="secondary">
    <!-- <ion-button (click)="doGoogleLogout()">Googx</ion-button> -->
    <ion-button (click)="navigate('settings')">Settings</ion-button>
    <ion-button fill="solid" (click)="navigate('newsfeed')">
      <ion-icon slot="start" name="contact"></ion-icon>Newsfeed</ion-button>
    <ion-button (click)="doFacebookLogout()">Fbx</ion-button>
    <ion-button (click)="doFacebookLogin()">Fbin</ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content class='block-container'>
  <ul>
    <li>NewsitemsPath: {{ env.newsitemsPath }}</li>
    <li (click)="navigate('user')">/user</li>
  </ul>
</ion-content>