
<ion-toolbar>
  <ion-buttons slot="secondary">
    <ion-button fill="solid" (click)="navigate('newsfeed')" >
      <ion-icon slot="start" name="contact"></ion-icon>
      Newsfeed click()
    </ion-button>
  </ion-buttons>
  <ion-buttons slot="secondary">
    <ion-button fill="solid">
      <ion-icon slot="start" name="contact"></ion-icon>
      Contact
    </ion-button>
  </ion-buttons>
  <ion-title>Solid Buttons</ion-title>
  <ion-buttons slot="primary">
    <ion-button fill="solid" color="secondary">
      Help
      <ion-icon slot="end" name="help-circle"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>


<ion-content *ngIf='userReady'>
  <ion-card>
    <div class="half-width" >
      <p>Aaa</p>
      <ion-img [src]="user.picture"></ion-img>
    </div>
    <ion-card-header>
      <ion-card-title>{{user.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{user.email}}</p>
    </ion-card-content>
    <ion-button expand="block" (click)="doGoogleLogout()">Log Out</ion-button>
  </ion-card>
</ion-content>
