
<ion-toolbar>
  <ion-img *ngIf='user && user.picture' class="thumb" [src]="user.picture"></ion-img>

  <div *ngIf='user && user.facebook' (click)="doFacebookLogout()" >{{ user.facebook.userID }}</div>

  <ion-buttons slot="secondary">
    <!-- <ion-button fill="solid" (click)="navigate('newsfeed')" >
      <ion-icon slot="start" name="contact"></ion-icon>
      Newsfeed
    </ion-button>
    <ion-button (click)="doGoogleLogout()">Googx</ion-button> -->
    <ion-button (click)="navigate('/settings')">Settings</ion-button>
    <ion-button (click)="doFacebookLogout()">Fbx</ion-button>
    <ion-button (click)="doFacebookLogin()">Fbin</ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content *ngIf='newsitems' class='block-container' >
  <ion-content >
    <ion-list >
      <ion-item  *ngFor="let n of newsitems">

        <ion-card class='flex-scroll-container' >
          <h5>{{ n.name }} ({{ n.photos.length }})</h5>
          <p>{{ n.created_at }}</p>
          <ion-list class='flex-scroll' >
            <ion-item *ngFor="let ph of n.photos">

              <div class='medium-photo'>
                <img [src]="ph.small_url" />
              </div>

            </ion-item>
          </ion-list>
        </ion-card>

      </ion-item>
    </ion-list>
  </ion-content>
</ion-content>

<ion-content class='block-container'>
  <ul>
    <li>NewsitemsPath: {{ env.newsitemsPath }}</li>
    <li (click)="navigate('user')">/user</li>
  </ul>
</ion-content>