
<ion-content >
  <div class="mainfold-parent 
    {{ this.footerCollapsed ? 'footer-collapsed' : '' }} 
    {{ this.halfCollapsed }} 
    {{ this.headerCollapsed ? 'header-collapsed' : '' }} ">
    <div class="mainfold-item main-header">
      <div (click)="collapseHeader()">[X]</div>
      &nbsp; &nbsp;
      <div (click)="navigateToMap('map-world')" >Header</div>
      <div (click)="navigate('maps')" class='img img-swords' ></div>
      <div (click)="navigate(appRouter.citiesPath)" class='img img-city' ></div>
      <div (click)="navigate(appRouter.homefeedPath)" class='img img-news' ></div>
    </div>
    <div class='header-control'>
      <div class='header-control-inner' (click)="collapseHeader()"></div>
    </div>
    
    <div class="mainfold-item main-twofold">
      <div class='main-twofold-inner'>
        <div id='mainLeft' class='main-left main-half' >
          <div class='zoom-control'>
            <div (click)="zoomIn()" class='in'>[+]</div>
            <div (click)="zoomOut()" class='out'>[-]</div>
          </div>
          <div class='main-left-overlay'></div>
          <div class='main-left-inner'>

            <div class='main-map'>
              <div class='main-map-inner'>

                <div class='img-bg' 
                  [style.background-image]="'url('+thisMap['img']+')'" 
                  [style.width]="thisMap['w'] * zoomFactor + 'px'" 
                  [style.height]="thisMap['h'] * zoomFactor + 'px'"
                >

                  <div class='img-marker' *ngFor="let marker of markers"
                    [style.width]="marker['w']*zoomFactor + 'px'"
                    [style.height]="marker['h']*zoomFactor + 'px'"
                    [style.top]="marker['top']*zoomFactor + 'px'"
                    [style.left]="marker['left']*zoomFactor + 'px'"
                    [style.background-image]="'url('+marker['img']+')'"
                    (click)="navigateToMap(marker['slug'])"
                  ></div>

                </div>

              </div>
            </div>
          </div>
        </div>
        <div id='mainRight' class='main-right main-half' >
          <div class='main-collapse' (click)="collapseMain()" ></div>
          <div class='main-right-overlay'></div>
          <div class='main-right-inner'>
            <div class='main-text'>
              {{ thisMap['description'] }}
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="mainfold-item main-footer">
      <div class='footer-collapse' (click)="collapseFooter()" ></div>
      <div class='main-footer-overlay'></div>
      <div class='main-footer-inner'>

        <div *ngIf="currentUser">
          <div class='img img-avatar'  ></div>
          <div class='widget-stars'>
            <div class='widget-stars-inner'>
              <!-- <div class='count'>5</div> -->
              <div class='img img-star' >5</div>
            </div>
          </div>
          {{ currentUser }}
          <br /><br />
          {{ currentUserStr }}
        </div>

        <div *ngIf="!currentUser" >
          <div class='widget-login' (click)="doLogin()">Please Login</div>
        </div>


      </div>
    </div>
  </div>
</ion-content>
