<div *ngIf="!newsitems || newsitems.length == 0">
  <br /><br /><br />
  <h1>Loading...</h1>
  <br /><br /><br />
</div>

<div class='wrapper'>
  <div class="container">
    <div class='items' [ngClass]="{
      'premium-1': n.premium_tier === 1,
      'premium-2': n.premium_tier === 2
    }" *ngFor="let n of newsitems">

      <!-- VIDEO ITEMS -->
      <div *ngIf="n.item_type=='video'" class='newsitems-video'>

        <div class="image-section">
          <video width="100%" preload="metadata" height="auto" controls>
            <source src="{{n.url}}" type="video/mp4">
          </video>
          <!-- <ion-icon class="play-icon" slot="start" name="play-circle"></ion-icon>
        <img class="image" src="{{n.photo_s169_url}}" /> -->
        </div>

        <div>
          <p class="title">

            <img class="icon" [src]="getIconUrl(n.is_premium, n.premium_tier, n.item_type)" />

            <span class="title-heading">{{n.name}}</span>
          </p>
          <p class="info">
            <span class="date"> {{n.created_at.substring(0,10)}} </span> by
            <span class="user"> {{n.username}} </span> in
            <span class="city"> {{n.cityname}} </span>
            <span class="tags" *ngFor="let tag of n.tags">{{tag.name}}</span>
          </p>
          <p class="description">
            {{n.description}}
          </p>
        </div>
      </div>

      <!-- REPORT ITEMS -->
      <div *ngIf="n.item_type=='report'" class='newsitems-report'>

        <div class="image-section">
          <img class="image" src="{{n.photo_s169_url}}" />
        </div>

        <div>
          <p class="title">

            <img class="icon" [src]="getIconUrl(n.is_premium, n.premium_tier, n.item_type)" />

            <span class="title-heading">{{n.name}}</span>
          </p>
          <p class="info">
            <span class="date"> {{n.created_at.substring(0,10)}} </span> by
            <span class="user"> {{n.username}} </span> in
            <span class="city"> {{n.cityname}} </span>
            <span class="tags" *ngFor="let tag of n.tags">{{tag.name}}</span>
          </p>
          <p class="description">
            {{n.description}}
          </p>
        </div>

      </div>

      <!-- GALLERY ITEMS -->
      <div *ngIf="n.item_type=='gallery'" class='newsitems-gallery'>

        <div class="image-section">
          <div class="gallery">
            <div class="grid-item" *ngFor="let photo of (n.photos ? n.photos.slice(0,3):[]); let i = index">
              <div class="image-item" [ngStyle]="{'background-image': 'url(' + photo.original_url + ')'}">
                <div *ngIf="n.photos.length > 3 && i==2" class="number">+{{ n.photos.length - 3 }}</div>
              </div>
            </div>
          </div>
        </div>

        <div>
          <p class="title">

            <img class="icon" [src]="getIconUrl(n.is_premium, n.premium_tier, n.item_type)" />

            <span class="title-heading">{{n.name}}</span>
          </p>
          <p class="info">
            <span class="date"> {{n.created_at.substring(0,10)}} </span> by
            <span class="user"> {{n.username}} </span> in
            <span class="city"> {{n.cityname}} </span>
            <span class="tags" *ngFor="let tag of n.tags">{{tag.name}}</span>
          </p>
          <p class="description">
            {{n.description}}
          </p>
        </div>

      </div>

    </div>
  </div>
</div>