
<div *ngIf="!newsitems || newsitems.length == 0" >
  <br /><br /><br />
  <h1>Loading...</h1>
  <br /><br /><br />
</div>

<div class="a-1" *ngFor="let n of newsitems">

  <!--
    -- gallery
  -->
  <div class='row' *ngIf="n.item_type=='gallery'" >
    <div class='title-card'>
      <div class='title-card-inner'>
        <h1 (click)="showGallery(n.galleryname)" ><ion-icon slot="start" name='camera'></ion-icon> &nbsp; {{ n.name }} ({{ n.photos.length }})</h1>
        
        <div class='metaline' >
          <div class='premium-tier' *ngIf="n.premium_tier && n.premium_tier > 0" >
            <b>$ {{n.premium_tier}}</b>
          </div>
          {{n.created_at.substring(0,10)}}
        </div>

      </div>
    </div>
    <div class='card' *ngFor="let ph of n.photos | slice:0:3">
      <div class='card-inner'>
        <div class='img'
          [ngStyle]="{ background: '#cccccc url('+ph.large_url+')', 
            'background-repeat': 'no-repeat', 'background-position': 'center',
            'background-size': 'contain' }" 
        >&nbsp;</div>
      </div>
    </div>
  </div>

  <div class='row-newsitems-video' *ngIf="n.item_type=='video'" >
    <div class='title-card'>
      <div class='title-card-inner'>
        <h1><ion-icon slot="start" name='videocam'></ion-icon> &nbsp; {{ n.name }}</h1>
        <p><i>{{ n.created_at.substring(0,10) }}</i></p>
      </div>
    </div>
    <div class='card'>
      <div class='card-inner'>
        <div *ngIf="n.youtube_id" >
          <iframe width="560" height="315" src="https://www.youtube.com/embed/{{n.youtube_id}}" 
            frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        <!-- <video src="{{ n.url }}" width="100%" controls ></video> -->
      </div>
    </div>
  </div>

  <div class='row' *ngIf="n.item_type=='report'" >
    <div class='title-card'>
      <div class='title-card-inner'>
        <h1><ion-icon slot="start" name='today' ></ion-icon> &nbsp; <a [routerLink]="['/en/reports/show/'+n.reportname]" >{{ n.name }}</a></h1>
        <p>{{ n.created_at.substring(0,10) }}</p>
      </div>
    </div>
  </div>

</div>