<div *ngIf="!newsitems || newsitems.length == 0">
  <br /><br /><br />
  <h1>Loading...</h1>
  <br /><br /><br />
</div>

<div class="container">
  <div [ngStyle]="getBackground(n.premium_tier)" class='items' *ngFor="let n of newsitems">

    <div *ngIf="n.item_type=='video'">

      <div class="image-section">
        <video width="100%" height="auto" controls>
          <source src="{{n.url}}" type="video/mp4">
        </video>
        <!-- <ion-icon class="play-icon" slot="start" name="play-circle"></ion-icon>
        <img class="image" src="{{n.photo_s169_url}}" /> -->
      </div>

      <div>
        <!-- <ion-icon style="color:blue;font-size:10px" src="../../assets/newsfeed/Videos Icon.svg"></ion-icon> -->
        <p class="title">

          <img *ngIf="!n.is_premium" class="icon" src="../../assets/newsfeed/Videos Icon.svg" />
          <img *ngIf="n.is_premium && n.premium_tier == 1" class="icon icon-sunglass"
            src="../../assets/newsfeed/Sunglass.png" />
          <img *ngIf="n.is_premium && n.premium_tier == 2" class="icon icon-gem"
            src="../../assets/newsfeed/Gem Premium.png" />

          <span class="title-heading">{{n.name}}</span>
        </p>
        <p class="info">
          <span class="date"> {{n.created_at.substring(0,10)}} </span> by
          <span class="user"> {{n.username}} </span> in
          <span class="city"> {{n.cityname}} </span>
          <span class="tags" *ngFor="let tag of n.tags">{{tag.name}}</span>
        </p>
        <p class="description">
          {{n.description}}
        </p>
      </div>
      <!-- <div class='title-card'>
            <div class='title-card-inner'>
              <h1><ion-icon slot="start" name='videocam'></ion-icon> &nbsp; {{ n.name }}</h1>
              <p><i>{{ n.created_at.substring(0,10) }}</i></p>
            </div>
          </div>
          <div class='card'>
            <div class='card-inner'>
              <div *ngIf="n.youtube_id" >
                <iframe width="560" height="315" src="https://www.youtube.com/embed/{{n.youtube_id}}" 
                  frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
              </div>
            </div>
          </div> -->
    </div>

    <div *ngIf="n.item_type=='report'">

      <div class="image-section">
        <img class="image" src="{{n.photo_s169_url}}" />
      </div>

      <div>
        <!-- <ion-icon style="color:blue;font-size:10px" src="../../assets/newsfeed/Videos Icon.svg"></ion-icon> -->
        <p class="title">

          <img *ngIf="!n.is_premium" class="icon" src="../../assets/newsfeed/Reports Icon.png" />
          <img *ngIf="n.is_premium && n.premium_tier == 1" class="icon icon-sunglass"
            src="../../assets/newsfeed/Sunglass.png" />
          <img *ngIf="n.is_premium && n.premium_tier == 2" class="icon icon-gem"
            src="../../assets/newsfeed/Gem Premium.png" />

          <span class="title-heading">{{n.name}}</span>
        </p>
        <p class="info">
          <span class="date"> {{n.created_at.substring(0,10)}} </span> by
          <span class="user"> {{n.username}} </span> in
          <span class="city"> {{n.cityname}} </span>
          <span class="tags" *ngFor="let tag of n.tags">{{tag.name}}</span>
        </p>
        <p class="description">
          {{n.description}}
        </p>
      </div>

    </div>

    <div *ngIf="n.item_type=='gallery'">

      <div class="image-section">
        <div class="gallery">
          <div [ngStyle]="{'background-image': 'url(' + photo.original_url + ')'}" class="grid-item"
            *ngFor="let photo of (n.photos ? n.photos.slice(0,3):[]); let i = index">
            <!-- <img src="{{photo.original_url}}" /> -->
            <div *ngIf="n.photos.length > 3 && i==2" class="number">+{{ n.photos.length - 3 }}</div>
          </div>
        </div>
      </div>

      <div>
        <!-- <ion-icon style="color:blue;font-size:10px" src="../../assets/newsfeed/Videos Icon.svg"></ion-icon> -->
        <p class="title">

          <img *ngIf="!n.is_premium" class="icon" src="../../assets/newsfeed/Photos Icon.png" />
          <img *ngIf="n.is_premium && n.premium_tier == 1" class="icon icon-sunglass"
            src="../../assets/newsfeed/Sunglass.png" />
          <img *ngIf="n.is_premium && n.premium_tier == 2" class="icon icon-gem"
            src="../../assets/newsfeed/Gem Premium.png" />

          <span class="title-heading">{{n.name}}</span>
        </p>
        <p class="info">
          <span class="date"> {{n.created_at.substring(0,10)}} </span> by
          <span class="user"> {{n.username}} </span> in
          <span class="city"> {{n.cityname}} </span>
          <span class="tags" *ngFor="let tag of n.tags">{{tag.name}}</span>
        </p>
        <p class="description">
          {{n.description}}
        </p>
      </div>

    </div>

  </div>
</div>