
<ion-router-outlet main></ion-router-outlet>

<ion-content padding>
  <ion-button (click)="openFirst()" >
    <ion-icon slot="start" name="menu"></ion-icon>
    Menu</ion-button>
</ion-content>

<ion-menu side="start" menuId="first">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Travel Guide Mobi</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content padding>
    <ion-list>
      <ion-item>
        <div (click)="navigate('newsfeed')">Newsfeed</div>
      </ion-item>
      <ion-item>
        <ion-button (click)="navigate('account')">Account</ion-button>
      </ion-item>
      <ion-item>
        <ion-button (click)="doFacebookLogout()">Logout</ion-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>


